<html ng-app="recordingApp">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1,shrink-to-fit=no" />
    <link rel="shortcut icon" href="./static/images/speaker.png" />
    <link href="./node_modules/jquery-toast-plugin/dist/jquery.toast.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./static/css/main.css" />
    <link rel="stylesheet" href="./node_modules/bootstrap/dist/css/bootstrap.min.css" />
    <title>Genesys PureCloud Recordings</title>
  </head>

  <body ng-app ng-controller="recordingsController as analyticsItems" id="mainController">
    <noscript>You need to enable JavaScript to run this app.</noscript>

    <!--#region Header -->

    <h1 class="text-center">
      Genesys PureCloud Recordings
    </h1>

    <!--#endregion -->

    <!--#region Login Button -->

    <div id="loading" class="text-center">
      <button id="login" ng-click="login()" class="btn btn-info mt-5">Login</button>
    </div>

    <!--#endregion -->

    <!--#region Filters -->

    <div id="recordings">
      <div id="filters" class="d-flex justify-content-center mt-2">
        <div class="form-inline">
          <div class="form-group mb-2">
            <input type="text" readonly class="form-control-plaintext" value="Start Date/Time (UTC)" />
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="datetime-local" name="startDateTime" id="startDateTime" />
          </div>
        </div>
        <div class="form-inline ml-5">
          <div class="form-group mb-2">
            <input type="text" readonly class="form-control-plaintext" value="End Date/Time (UTC)" />
          </div>
          <div class="form-group mb-2">
            <input class="form-control" type="datetime-local" name="endDateTime" id="endDateTime" />
          </div>
          <button id="apply" ng-click="getRecordings()" class="btn btn-primary ml-2 mb-2">Apply</button>
        </div>
      </div>

      <!-- Spinner -->
      <div class="d-flex justify-content-center">
        <div class="spinner-border" role="status" id="spinnerMain">
          <span class="sr-only">Loading...</span>
        </div>
      </div>

      <!-- Recordings -->
      <div class="container mt-5">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">Remote</th>
              <th scope="col">Date</th>
              <th scope="col">Duration</th>
              <th scope="col">Direction</th>
              <th scope="col">Queue</th>
              <th scope="col">Wrap-up</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="item in analyticsItems.conversations">
              <td>{{ item.originatingDirection == "inbound" ? item.participants[0].sessions[0].ani : item.participants[0].sessions[0].dnis }}</td>
              <td>{{ item.conversationStart | date: "medium" }}</td>
              <td>-</td>
              <td>{{ item.originatingDirection }}</td>
              <td>-</td>
              <td>-</td>

              <td>
                <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#conversationModal" ng-click="setCurrentConversation(item)">
                  >
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <!-- Pagination -->
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item"><a class="page-link" ng-show="showPrevious()" ng-click="previousPage()" href="#">Previous Page</a></li>
          <li class="page-item"><a class="page-link" ng-click="nextPage()" href="#">Next Page</a></li>
        </ul>
        <div class="d-flex justify-content-center">
          <small>Current Page: {{ pageNumber }}</small>
        </div>
      </nav>
    </div>

    <!--#endregion -->

    <!--#region Recordings Modal -->

    <div class="modal fade" id="conversationModal" tabindex="-1" role="dialog" aria-labelledby="conversationModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="conversationModalLabel">Recordings</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <table class="table table-hover">
              <thead>
                <tr>
                  <th scope="col">Conversation Id</th>
                  <th scope="col">Media</th>
                  <th scope="col">File State</th>
                  <th scope="col">Player</th>
                </tr>
                <div class="column" style="vertical-align:middle; text-align: right; padding-top: 12px; padding-left: 12px">
                  <!-- spinner section-->
                  <div class="d-flex justify-content-center">
                    <div class="spinner-border" role="status" id="spinner">
                      <span class="sr-only"> Loading...</span>
                    </div>
                  </div>
                </div>
              </thead>
              <tbody>
                <tr ng-repeat="recording in analyticsItems.recordings">
                  <td>{{ recording.conversationId }}</td>
                  <td>{{ recording.media }}</td>
                  <td>{{ recording.fileState }}</td>
                  <td>
                    <div id="{{ recording.id }}" class="row">
                      <div class="d-flex justify-content-center">
                        <div class="spinner-border" role="status" id="spinner{{ recording.id }}">
                          <span class="sr-only">Loading...</span>
                        </div>
                      </div>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <!--#endregion -->

    <!--#region Scripts -->

    <script src="./node_modules/jquery/dist/jquery.min.js"></script>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./node_modules/angular/angular.min.js"></script>
    <script src="./node_modules/jquery-toast-plugin/dist/jquery.toast.min.js"></script>
    <script src="./node_modules/js-cookie/src/js.cookie.js"></script>
    <script src="./static/js/controller.js"></script>
    <script src="./static/js/notifications.js"></script>
    <script>
      // Set default date/times to past week
      var startDate = new Date();
      var pastDate = startDate.getDate() - 7;
      startDate.setDate(pastDate);
      $("#startDateTime").val(formatDate(startDate));
      $("#endDateTime").val(formatDate(new Date()));

      function formatDate(date) {
        return date.getUTCFullYear() + "-" + pad(date.getUTCMonth() + 1) + "-" + pad(date.getUTCDate()) + "T" + pad(date.getUTCHours()) + ":" + pad(date.getUTCMinutes());
      }

      function pad(number) {
        if (number < 10) {
          return "0" + number;
        }
        return number;
      }
    </script>

    <!--#endregion -->
  </body>
</html>
